@layout('template.principal')
@section('content')
<section id="MainSection" class="container">
@include('frontend.componentes.softwork')
@include('frontend.componentes.produtos')
@include('frontend.componentes.equipe')
@include('frontend.componentes.contato')
</section>
@endsection